Repository Andival-Sei/cohort40: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: добавлены анимации и эффекты при наведении для карточек и аватаров, улучшено отображение информации о студенте
  src/components/Card/Card.module.scss
  src/components/Card/index.tsx
  src/pages/StudentDetail/StudentDetail.module.scss
  src/pages/StudentDetail/index.tsx
Due: prettier --write, eslint --fix

feat: добавлена проверка ссылок в Markdown для README файлов в CI
  .github/workflows/ci.yml
Due: none

feat: добавлена ссылка на репозиторий GitHub в навигацию шапки
  src/components/Header/Header.module.scss
  src/components/Header/index.tsx
Due: prettier --write, eslint --fix

fix: исправлено время ожидания и параметр повторных попыток для проверки ссылок в Markdown
  .github/workflows/ci.yml
Due: none

refactor: удалена проверка ссылок в Markdown для README файлов из CI
  .github/workflows/ci.yml
Due: none

feat: добавлены инструкции для AI-агентов и обновлен раздел деплоя в README
  .github/copilot-instructions.md
  README.md
Due: prettier --write

feat: обновлены стили компонентов и добавлены новые переменные для улучшения дизайна
  src/components/Card/Card.module.scss
  src/components/Footer/Footer.module.scss
  src/components/Header/Header.module.scss
  src/components/Header/index.tsx
  src/pages/Artifacts/index.tsx
  src/pages/Home/Home.module.scss
  src/pages/Home/index.tsx
  src/pages/NotFound/index.tsx
  src/pages/SectionPage.module.scss
  src/pages/StudentDetail/StudentDetail.module.scss
  src/pages/StudentDetail/index.tsx
  src/pages/Students/index.tsx
  src/styles/_vars.scss
  src/styles/index.scss
Due: prettier --write, eslint --fix

feat: добавлена страница деталей артефакта с отображением информации и описания
  .github/copilot-instructions.md
  CONTRIBUTING.md
  README.PR.md
  README.md
  src/pages/ArtifactDetail/artifactDetail.module.scss
  src/pages/ArtifactDetail/index.tsx
  src/pages/ArtifactDetail/logic.ts
  src/pages/Artifacts/index.tsx
  src/pages/Home/index.tsx
  src/router.tsx
  src/shared/artifacts.ts
  src/shared/types.ts
Due: prettier --write, eslint --fix

feat: улучшены адаптивные стили и добавлены медиа-запросы для различных компонентов
  src/components/Card/Card.module.scss
  src/components/Footer/Footer.module.scss
  src/components/Header/Header.module.scss
  src/pages/ArtifactDetail/artifactDetail.module.scss
  src/pages/Home/Home.module.scss
  src/pages/SectionPage.module.scss
  src/pages/StudentDetail/StudentDetail.module.scss
  src/styles/index.scss
Due: prettier --write

feat: test commit
  src/shared/artifacts.ts
Due: prettier --write, eslint --fix

feat: добавлено мобильное меню с адаптивной навигацией и улучшены стили для мобильных устройств
  src/components/Header/Header.module.scss
  src/components/Header/index.tsx
  src/components/Header/logic.ts
Due: prettier --write, eslint --fix

CHORE: starting testing
  src/components/Header/index.tsx
Due: prettier --write, eslint --fix

fix: добавлены отладочные сообщения для проверки состояния мобильного меню
  src/components/Header/index.tsx
Due: prettier --write, eslint --fix

fix: удалены отладочные сообщения из компонента Header
  src/components/Header/index.tsx
Due: prettier --write, eslint --fix

feat: add Pavel Bosy student card
  public/photo/students/pavel.jpg
Due: none

add Pavel Bosy student card
  tall
Due: none

Add Pavel Bosy student card to students list
  src/shared/students.ts
Due: prettier --write, eslint --fix

fix: Удален файл с описанием команд и добавлена поддержка инкрементальной компиляции в tsconfig.app.json
  tall
  tsconfig.app.json
Due: prettier --write

feat: добавлено новое изображение для артефакта "ЛС открыт" и удалены устаревшие карточки студентов
  public/photo/artifacts/ls-otkroi.jpg
  src/shared/artifacts.ts
  src/shared/students.ts
Due: prettier --write, eslint --fix

feat: добавлена страница инструкций с пошаговым руководством по добавлению себя в проект и обновлены маршруты и стили для новой страницы
  src/components/Header/index.tsx
  src/pages/Home/Home.module.scss
  src/pages/Home/index.tsx
  src/pages/Instructions/Instructions.module.scss
  src/pages/Instructions/README.md
  src/pages/Instructions/index.tsx
  src/router.tsx
Due: prettier --write, eslint --fix

feat: обновлены стили и навигация на главной странице, добавлены адаптивные стили для инструкций
  src/pages/Home/Home.module.scss
  src/pages/Home/index.tsx
  src/pages/Instructions/Instructions.module.scss
  src/pages/Instructions/README.md
Due: prettier --write, eslint --fix

feat: добавлен новый артефакт "Матрица" с соответствующим изображением и описанием
  public/photo/artifacts/matriza.jpg
  src/shared/artifacts.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,md,json}
  eslint --fix: any of: src/**/*.{ts,tsx}
